@charset "utf-8";

/* ======================================================================================================================================================================================================== */

body{ -webkit-print-color-adjust: exact; font-size:11px; line-height:140%; font-family:"メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HiraKakuPro-W3","ＭＳ Ｐゴシック","MS PGothic",sans-serif; margin:0; padding:0px;}
table{ border-collapse: collapse; page-break-inside: avoid;}
tr,td { border-style: none; margin: 0px; padding: 0px; }
.clear{ clear:both; }
#container{ width:780px; position:relative;}
td.black{ text-align:center; background-color:#404040; color:#EEE;}
td.gray_001{ background-color:#DDD;}
td.gray_002{ background-color:#EEE;}
.gray_001{ background-color:#c0c0c0;}

/* ======================================================================================================================================================================================================== */

#table_001_001{ width:780px; }
#table_001_001 td{ padding:1px 3px 1px 3px; border:1px solid #AAA; text-align:center; border-collapse:collapse; }
#table_001_001 td.name{ text-align:left; font-size:14px; }
#table_001_001 td.noborder{ border:0px; padding:0; }
#table_001_001 td.sign{ padding-bottom:7px; text-align:left;  }
#table_001_002{ margin-top:10px; width:780px; }
#table_001_002 td{ text-align:center; padding:5px 10px 5px 10px; border-collapse:collapse; border:1px solid #AAA; }
#table_001_002 td.noborder{ border:0px; padding:0; width:10px; }
.table_001_003{ width:780px; background-color:#EEE; }
.table_001_003 td{ text-align:center; padding:1px 3px 1px 3px; border-collapse:collapse; border:1px solid #AAA; }
.table_001_003_gray{ width:780px; background-color:#EEE; }
.table_001_003_gray td{ text-align:center; padding:1px 3px 1px 3px; border-collapse:collapse; border:1px solid #AAA; }
.table_001_003_gray .gray{ background-color:#DDD; }
.table_001_003_white{ width:780px; background-color:#FFF; }
.table_001_003_white td{ text-align:center; padding:1px 3px 1px 3px; border-collapse:collapse; border:1px solid #AAA; }
.table_001_003_white .gray{ background-color:#EEE; }

/* ======================================================================================================================================================================================================== */

#table_002_001{ width:780px; }
#table_002_001 td{ padding:1px 3px 1px 3px; border:1px solid #AAA; text-align:center; border-collapse:collapse; }
#table_002_001 td.name{ text-align:left; font-size:14px; }
#table_002_001 td.noborder{ border:0px; padding:0; }
#table_002_001 td.sign{ padding-bottom:7px; text-align:left;  }
.table_002_002{ width:780px; }
.table_002_002 td{ text-align:center; padding:1px 3px 1px 3px; border-collapse:collapse; border:1px solid #AAA; }
.table_002_002_gray{ width:780px; background-color:#EEE; }
.table_002_002_gray td{ text-align:center; padding:1px 3px 1px 3px; border-collapse:collapse; border:1px solid #AAA; }
.table_002_002_gray .gray{ background-color:#DDD; }
.table_002_002_white{ width:780px; background-color:#FFF; }
.table_002_002_white td{ text-align:center; padding:1px 3px 1px 3px; border-collapse:collapse; border:1px solid #AAA; }
.table_002_002_white .gray{ background-color:#EEE; }

/* ======================================================================================================================================================================================================== */

#table_003_001{ width:780px; }
#table_003_001 td{ padding:5px 10px 5px 10px; border:1px solid #AAA; text-align:center; border-collapse:collapse; }
#table_003_001 td.name{ text-align:left; font-size:14px; }
#table_003_001 td.noborder{ border:0px; padding:0; }
#table_003_001 td.sign{ padding-bottom:7px; text-align:left;  }
#table_003_002{ margin-top:10px; width:780px; }
#table_003_002 td{ text-align:center; padding:5px 10px 5px 10px; border-collapse:collapse; border:1px solid #AAA; }
#table_003_002 td.noborder{ border:0px; padding:0; width:10px; }
.table_003_003{ width:780px;  }
.table_003_003 td{ text-align:center; padding:5px 0 5px 0px; border-collapse:collapse; border:1px solid #AAA; }
.table_003_003_gray{ width:780px; background-color:#EEE; }
.table_003_003_gray td{ text-align:center; padding:5px 0 5px 0px; border-collapse:collapse; border:1px solid #AAA; }
.table_003_003_gray .gray{ background-color:#DDD;}
.table_003_003_white{ width:780px; background-color:#FFF; }
.table_003_003_white td{ text-align:center; padding:5px 0 5px 0px; border-collapse:collapse; border:1px solid #AAA; }
.table_003_003_white .gray{ background-color:#EEE;}

/* ======================================================================================================================================================================================================== */

#table_004_001{ width:780px; }
#table_004_001 td{ padding:5px 10px 5px 10px; border:1px solid #AAA; text-align:center; border-collapse:collapse; }
#table_004_001 td.name{ text-align:left; font-size:14px; }
#table_004_001 td.noborder{ border:0px; padding:0; }
#table_004_001 td.sign{ padding-bottom:7px; text-align:left;  }
#table_004_002{ width:780px; }
#table_004_002 td{ padding:5px 10px 5px 10px; text-align:center; border-collapse:collapse; border:1px solid #AAA; }
#table_004_002 td.price{ text-align:right; }

/* ======================================================================================================================================================================================================== */

.table_005_001{ width:780px; }
.table_005_001 td{ padding:5px 10px 5px 10px; border:1px solid #AAA; text-align:center; border-collapse:collapse; }
.table_005_001 td.name{ text-align:left; font-size:14px; }
.table_005_001 td.noborder{ border:0px; padding:0; }
.table_005_001 td.sign{ padding-bottom:7px; text-align:left;  }
#table_005_002{ width:780px; }
#table_005_002 td{ padding:5px 10px 5px 10px; text-align:center; border-collapse:collapse; border:1px solid #AAA; }
#table_005_002 td.price{ text-align:right; }

/* ======================================================================================================================================================================================================== */

#table_006_001{ margin-top:20px; width:780px; }
#table_006_001 td{ padding:5px 10px 5px 10px; border-collapse:collapse; border:1px solid #AAA; }
#table_006_001 td.noborder{ border:0px; padding:0; width:10px; }
#table_006_002{ width:780px; }
#table_006_002 td{ padding:5px 10px 5px 10px; border-collapse:collapse; border:1px solid #AAA; text-align:center; }
#table_006_002 td.noborder{ border:0; padding:0; }

/* ======================================================================================================================================================================================================== */

#table_007_001{ margin-top:20px; width:780px; }
#table_007_001 td{ padding:5px 10px 5px 10px; border-collapse:collapse; border:1px solid #AAA; }
#table_007_001 td.noborder{ border:0px; padding:0; width:10px; }
#table_007_002{ width:780px; }
#table_007_002 td{ padding:5px 10px 5px 10px; border-collapse:collapse; border:1px solid #AAA; text-align:center; }
#table_007_002 td.noborder{ border:0; padding:0; }

/* ======================================================================================================================================================================================================== */

#table_including{ width:780px; }
#table_including td{ padding:1px 3px 1px 3px; border-collapse:collapse; border:1px solid #AAA; }

/* ======================================================================================================================================================================================================== */
